<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.movelab.sudeau"
    android:versionCode="1"
    android:installLocation="internalOnly"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="19" />
    
    <uses-feature android:name="android.hardware.camera"
                  android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />    
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="net.movelab.sudeau.EruletApp"
        >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyD7IGO6UXX5bzDDidjLdO8wBt3JcZJ1u4o" />

<!--for signed APK            android:value="AIzaSyBsiA8tXhQ3ghemBxV6X-mAzYc0xVzq2LQ" /> -->

<!--Old API Key         AIzaSyD7IGO6UXX5bzDDidjLdO8wBt3JcZJ1u4o -->
        <activity
            android:name="net.movelab.sudeau.Switchboard"
            android:theme="@android:style/Theme.Holo"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>                     
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="net.movelab.sudeau.InfoActivity" >
        </activity>
        <activity android:name="net.movelab.sudeau.ChooseItineraryActivity" 
            android:theme="@android:style/Theme.Holo">
        </activity>
        <activity android:name="net.movelab.sudeau.PlaceInfoActivity" >
        </activity>
        <activity android:name="net.movelab.sudeau.DetailItineraryActivity"
            android:configChanges="orientation|screenSize" 
            android:theme="@android:style/Theme.Holo"
            >
        </activity>
        <activity android:name="net.movelab.sudeau.CompassActivity" 
            android:theme="@android:style/Theme.Holo">
        </activity>        
        <activity android:name="net.movelab.sudeau.CreditsActivity" >
        </activity>
        <activity android:name="net.movelab.sudeau.ManualActivity" >
        </activity>
        <activity android:name="net.movelab.sudeau.SecurityRules" >
        </activity>
        <activity android:name="net.movelab.sudeau.HTMLViewerActivity" >
        </activity>
        <activity android:name="net.movelab.sudeau.InteractiveImageActivityHeatMap" 
            android:theme="@android:style/Theme.Holo">
        </activity>
        <activity android:name="net.movelab.sudeau.MyItinerariesActivity"
            android:theme="@android:style/Theme.Holo">
        </activity>
        <activity android:name="net.movelab.sudeau.OtherItinerariesActivity" 
            android:theme="@android:style/Theme.Holo">
        </activity>
        <activity android:name="net.movelab.sudeau.VideoPlayActivity" >
        </activity>
        <activity android:name="net.movelab.sudeau.EditRouteActivity"
            android:theme="@android:style/Theme.Holo">
        </activity>
        <activity android:name="net.movelab.sudeau.EditHighLightActivity"
            android:configChanges="orientation|screenSize" 
            android:theme="@android:style/Theme.Holo">
        </activity>
        <activity android:name="net.movelab.sudeau.EruletPreferencesActivity" 
            android:theme="@android:style/Theme.Holo">
        </activity>
        <activity android:name="net.movelab.sudeau.RegistrationActivity"
            android:theme="@android:style/Theme.Holo">
        </activity>        
        <activity android:name="net.movelab.sudeau.DetailHighLightActivity"
            android:theme="@android:style/Theme.Holo">
        </activity>
        <activity android:name="net.movelab.sudeau.MultipleHighLightSelection"
            android:theme="@android:style/Theme.Holo">
        </activity>
        
        <receiver android:name="net.movelab.sudeau.TrackingBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LAUNCHER" />                               
                <action android:name="net.movelab.sudeau.internal_message.SCHEDULE_SERVICE" />
                <action android:name="net.movelab.sudeau.internal_message.UNSCHEDULE_SERVICE" />
            </intent-filter>
        </receiver>
        
        <service android:name="net.movelab.sudeau.TrackingFixGet" />
        <service android:name="net.movelab.sudeau.ServerSync" />
        <!--         <service android:name="net.movelab.sudeau.FileUploader" /> -->
<!--         <service android:name="net.movelab.sudeau.TrackingUpload" />           -->

<!--         <provider -->
<!--             android:name="edu.princeton.jrpalmer.asmlibrary.SpaceMapperContentProvider" -->
<!--             android:authorities="edu.princeton.jrpalmer.asmlibrary.spacemapperfixprovider" -->
<!--             android:enabled="true" -->
<!--             android:exported="false" > -->
<!--         </provider> -->
<!--         <provider -->
<!--             android:name="edu.princeton.jrpalmer.asmlibrary.UploadQueueContentProvider" -->
<!--             android:authorities="edu.princeton.jrpalmer.asmlibrary.uploadqueueprovider" -->
<!--             android:enabled="true" -->
<!--             android:exported="false" > -->
<!--         </provider> -->
        
    </application>

</manifest>